body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

.navbar {
    height: 5rem;
    background-color: whitesmoke;
}

.fa-solid {
    color: crimson;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

.f-info-links a {
    text-decoration: none;
    color: #222222;

}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links,
.f-info-social {
    width: 100%;
}

.f-info-social i {
    scroll-margin-right: 1rem;
    font-size: 1.3rem;
    margin-top: 1rem;
}

.f-info {
    text-align: center;
    background-color: rgb(212, 211, 211);
    height: 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

.card {
    border: none !important;

}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text {
    font-weight: 400;
}

.listing-row {
    padding-left: 4rem;
    padding-right: 2rem;
}

.listing-link {
    text-decoration: none;
}

.card-img-overlay {
    opacity: 0;
    background-color: white;
    transition: opacity 0.2s ease;
    border-radius: 1rem;
}

.card:hover .card-img-overlay {
    opacity: 0.2;
}

.add-btn {
    background-color: crimson !important;
    border: none !important;
}

.edit-btn {
    background-color: crimson !important;
    border: none !important;
}

.show-image {
    height: 300px;
}

.btns {
    display: flex;
    gap: 1rem;
}